{% extends 'Layouts/default.html.twig' %}

{% block head %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $("#loading").hide();
            $.ajaxSetup({
                beforeSend: function () {
                    $("#loading").show();
                    $("#form-submit").hide();
                },
                complete: function () {
                    $('#loading').hide();
                    $("#form-submit").show();
                }
            });
            $("form").submit(function (event) {
                event.preventDefault();
                let username = $("#form-username").val();
                let email = $("#form-email").val();
                let password = $("#form-password").val();
                let repeatPassword = $("#form-repeat-password").val();
                let recaptchaResponse = $("#form-recaptcha-response").val();
                let submit = $("#form-submit").val();
                $(".ajax-content").load('{{ url('signUp') }}', {
                    username: username,
                    email: email,
                    password: password,
                    repeatPassword: repeatPassword,
                    recaptchaResponse: recaptchaResponse,
                    submit: submit
                });
            });
        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptchaWebsiteKey() }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute({{ recaptchaWebsiteKey() }}, { action: 'sign-up' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post" action="{{ url('signUp') }}">
        <div class="ajax-content">
            <input id="form-username" type="text" name="username" placeholder="Username"><br>
            <input id="form-email" type="email" name="email" placeholder="E-Mail"><br>
            <input id="form-password" type="password" name="password" placeholder="Password"><br>
            <input id="form-repeat-password" type="password" name="repeatPassword" placeholder="Repeat password"><br>
        </div>
        <input id="form-submit" type="submit" value="Sign Up"><br><br>
        <input id="form-recaptcha-response" type="hidden" name="recaptcha-response">
        <div id="loading">
            <img src="{{ asset('img/ajax-loader.gif') }}" alt="Ajax gif loader.">
        </div>
    </form>
{% endblock %}