{% if not errors %}
    <script>
        window.location.href = "{{ url('start') }}";
    </script>
{% endif %}

<input id="form-username" type="text" name="username" placeholder="Username" value="{{ username }}" {% if errors['username'] is defined %} class="error" {% endif %}><br>
{% if errors['username'] is defined %}
    <span class="error">{{ errors['username'] }}<br></span>
{% endif %}
<input id="form-email" type="email" name="email" placeholder="E-Mail" value="{{ email }}" {% if errors['email'] is defined %} class="error" {% endif %}><br>
{% if errors['email'] is defined %}
    <span class="error">{{ errors['email'] }}<br></span>
{% endif %}
<input id="form-password" type="password" name="password" placeholder="Password" {% if errors['password'] is defined %} class="error" {% endif %}><br>
{% if errors['password'] is defined %}
    <span class="error">{{ errors['password'] }}<br></span>
{% endif %}
<input id="form-repeat-password" type="password" name="repeatPassword" placeholder="Repeat password" {% if errors['repeatPassword'] is defined %} class="error" {% endif %}><br>
{% if errors['repeatPassword'] is defined %}
    <span class="error">{{ errors['repeatPassword'] }}<br></span>
{% endif %}