<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
    <title>Uber Framework</title>

    {% block head %}

    {% endblock %}
</head>
<body>
<div class="content">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url('start') }}">Start</a></li>
                {% if isSession('user') %}
                    <li><a href="{{ url('panel') }}">Panel</a></li>
                    <li><a href="{{ url('signOut') }}">Sign Out</a></li>
                {% else %}
                    <li><a href="{{ url('signIn') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>